.featuresBG {
    background-color: #DFF4FF;
    /* opacity: .3; */
}

.brandsInnerBoxBG {
    background-color: #D6C5FF;
    opacity: .3;
}

.sellInnerBoxBG {
    background-color: #FFB082;
    opacity: .3;
}